header{  
    background-color: rgb(237, 207, 240);
       padding: 20px 09;
}
.caixa-nav{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav li{
    display: inline;
    margin: 10px;
    right: 30px; 
    top: 20px;
}

nav a{
    text-transform: uppercase;
    color: rgb(209, 180, 205);
    font-weight: bold;
    font-size: 20px; 
    text-decoration-line: none;
}