header{  
<<<<<<< HEAD
    background-color: rgb(237, 207, 240);
       
}
.caixa-nav{
    position: relative;
    margin: 0 auto;
=======
    background-color: rgb(193, 240, 232);
    
>>>>>>> fd5120d9d8c2598bae64c789563bb1169f154288
}
.caixa-nav{
}

nav li{
    display: inline;
    margin: 10px;
    right: 30px; 
    top: 20px;
}

nav a{
    text-transform: uppercase;
    color: rgb(209, 180, 205);
    font-weight: bold;
    font-size: 20px; 
    text-decoration-line: none;
}