header{  
    background-color: rgb(193, 240, 232);
}
h1{
    display: inline;
}

#logo{
    width: 250px;
}

nav{
    display: inline-block;
}

nav li{
    display: inline-block;
    margin: 10px;
}
