body{
    background-color: rgb(170, 136, 173);
}

#modas{
    width: 100%;
    height: 300px; 
}
    

h1{    
     text-align:center;
     background: rgb(224, 208, 230)
}

p{

text-align: center;
    background:rgb(222, 196, 230)
}



#especial{
    font-size: 20px
}

.itens{
    font-style: italic;
}
h2{
    text-align: center;
}

.benificios{
    background-color: aquamarine;
}